{% extends "base.html" %} {% block content %}

<div class="card mb-3">
  {% for img in object.thumbnail_set.all %}
  <img src="{{ img.media.url }}"/>
  {% endfor %}
  <div class="card-body">
    <h5 class="card-title">{{ object.title }}</h5>
    <p class="card-text">{{ object.description }}</p>
    {% if object.sale_price %}
    <p class="card-text">Price: £{{ object.price }}</p>
    <p class="card-text">Sale Price: £{{ object.sale_price }}</p>
    {% else %}
    <p class="card-text">Price: £{{ object.price }}</p>
    {% endif %}
    {% if request.user.is_authenticated and object.media %}
    {% if object in request.user.myproducts.products.all %}
    <a href="{{ object.get_update_url }}" class="btn btn-sm btn-secondary" role="button" aria-pressed="true">Edit</a>
    <p class="card-text">
      <a href='{{ object.get_download }}?preview=True'><small class="text-muted">Preview</small>
      </p></a>
      <p class="card-text">
        <a href='{{ object.get_download }}'><small class="text-muted">Download Here</small>
        </p></a>
        <!-- Button trigger modal -->
        {% else %}
        <button id="purchase-btn" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Purchase
        </button>
        <p class="card-text">
          <small class="text-muted">Nothing to download</small>
        </p>
    {% endif %}
    {% endif %}
    <div id="temp"></div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Would you like to purchase the product?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            By clicking "Confirm" you are purchasing the product and your account will be automatically charged.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button id="confirm-btn" type="button" class="btn btn-primary">Confirm</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
  var user = '{{request.user}}'
  var confirmButton = document.getElementById("confirm-btn");
  confirmButton.addEventListener("click", function () {
    console.log("click")
    var productId = '{{ object.id }}'
    console.log('productId:', productId)
    console.log('USER:', user)
    console.log("csrftoken");
		fetch("{% url 'checkout'  %}", {
			method: "POST",
			headers: {
				"Content-Type": "application/json",
				"X-CSRFToken": csrf_token,
			},
			body: JSON.stringify({
				productId: productId,
			}),
		})
    .then(response => {
      return response.json()
    })
    .then(data => {
      confirmButton.remove();
      downloadDiv = document.createElement("div");
      downloadDiv.classList.add("download");
      downloadDiv.innerHTML = "<p><a href='" + data.download + "'>Download</p><p><a href='" + data.preview + "'>Preview</p>";
      const temp = document.getElementById("temp");
      temp.insertBefore(downloadDiv, temp.childNodes[0]);
      form.reset();
    })
		.catch((errors) => console.log(errors));
  })



</script>

{% endblock content %}
