{% extends "base.html" %} {% block content %}

<div class="card mb-3">
  <img src="..." class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{ object.title }}</h5>
    <p class="card-text">{{ object.description }}</p>
    {% if object.sale_price %}
    <p class="card-text">Price: £{{ object.price }}</p>
    <p class="card-text">Sale Price: £{{ object.sale_price }}</p>
    {% else %}
    <p class="card-text">Price: £{{ object.price }}</p>
    {% endif %}
    {% if object.media %}
    <p class="card-text">
      <a href='{{ object.get_download }}?preview=True'><small class="text-muted">Preview</small>
    </p></a>
    <p class="card-text">
      <a href='{{ object.get_download }}'><small class="text-muted">Download Here</small>
    </p></a>
    {% else %}
    <p class="card-text">
      <small class="text-muted">Nothing to download</small>
    </p>
    {% endif %}
    <p class="card-text">
      <small class="text-muted">Last updated 3 mins ago</small>
    </p>
  </div>
</div>

{% endblock content %}
